---
layout: default
top_row_image: >-
  /uploads/Letty Stott residency as part of the 2020 Festival of New (photo by ,
  (c) Britten Pears Arts 9815.jpg
videos:
- ID: _o14l-GjN9M
- ID: 9euLjh2h5iQ
top_row_settings:
  style: 1
  fullscreen: true
  orient: right
  content_align: left
  onload_image: fade-in
  onload_content: fade-right
---

<!-- One -->
	{% capture content %}
<div class="editable">
				<h1>Ancient Horns</h1>
				<p>Letty is currently an Artist-in-Residence at Snape Maltings in Suffolk, where she is developing her project <em>Ancient Horns / New Voices</em> based around Etruscan and Greek instruments from the late Iron Age.</p>
				<p>The brass instruments she is working with include Carnyx, Lituus, Cornu and Salpinx and her project aims to give these ancient horns new voices in a modern-day context. Through collaborations with instrument-builder and historical expert Dr Peter Holmes, musicians Alice Zawadzki, Ed Ashby and Luke Christie and working with filmmaker John Fensom, she is in the process of developing a documentary film for the Festival of New at Snape Maltings.</p>
				<p>Letty was first commissioned to write for these fantastic instruments by PLAYLIST in 2019, where she performed her own site-specific composition <em>Cornicen / The Hornblower</em> in the atmospheric settings of the medieval Gods House Tower building in Southampton.</p>
			</div>		
	{% endcapture %}
	{% include components/banner.html
		settings=page.top_row_settings
		content=content
		image=page.top_row_image
	%}


	<section class="wrapper style1 align-center">
		<div class="inner">
			<h2>Videos</h2>
	    	<div class="items style1 big onload-none onscroll-fade-in">

{% for video in page.videos %}
				<section><div class="inner">
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.ID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></span>
				</div></section>
{% endfor %}
			</div>
	</div></section>
