---
layout: default

banner:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

spotlight_a:
  style: 1
  orient: right
  content_align: left
  onscroll_image: fade-in

spotlight_b:
  style: 1
  orient: left
  content_align: left
  onscroll_image: fade-in

gallery:
  style: 2
  size: medium
  lightbox: true
  button_label: 'Details'
  onscroll: fade-in

gallery_images:
- full: images/gallery/fulls/01.jpg
  thumb: images/gallery/thumbs/01.jpg
  title: Ipsum Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/02.jpg
  thumb: images/gallery/thumbs/02.jpg
  title: Feugiat Lorem
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/03.jpg
  thumb: images/gallery/thumbs/03.jpg
  title: Magna Amet
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/04.jpg
  thumb: images/gallery/thumbs/04.jpg
  title: Sed Tempus
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/05.jpg
  thumb: images/gallery/thumbs/05.jpg
  title: Ultrices Magna
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/06.jpg
  thumb: images/gallery/thumbs/06.jpg
  title: Sed Tempus
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/07.jpg
  thumb: images/gallery/thumbs/07.jpg
  title: Ipsum Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/08.jpg
  thumb: images/gallery/thumbs/08.jpg
  title: Magna Risus
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/09.jpg
  thumb: images/gallery/thumbs/09.jpg
  title: Tempus Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/10.jpg
  thumb: images/gallery/thumbs/10.jpg
  title: Sed Etiam
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/11.jpg
  thumb: images/gallery/thumbs/11.jpg
  title: Magna Lorem
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/12.jpg
  thumb: images/gallery/thumbs/12.jpg
  title: Ipsum Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.

items:
  style: 1
  size: medium
  onscroll: fade-in
---

{% comment %}

	Story by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Main page of the site.

{% endcomment %}


<!-- One -->
	{% capture content %}
		<h1>Commercial Performance</h1>
		<p>Letty has collaborated with commercial artists including Badly Drawn Boy, Charlotte Church, Kate Tempest, Laura Mvula, Sam Lee, Squarepusher and Shirley Bassey, and has toured with artists including Tony Hadley/Spandau Ballet, ABC and The Slow Show, as well as several arena tours for projects including The Sessions (UK/Europe), Il Divo (UK) and Ajay Atul (India).</p>
	{% endcapture %}
	{% include components/banner.html
		settings=page.banner
		content=content
		image="/images/commercial/IMG_2538.JPG"
		image-position="right"
	%}

<!-- Six -->
	<section class="wrapper style1 align-center">
		<div class="inner">
			<h2>TV</h2>

			<p>Letty has recorded for TV and film with BBC (Strictly Come Dancing, The Graham Norton Show, Troy), ITV (Sunday Night at the Palladium), Sky Atlantic (Tin Star) and Sky1 (The Queen and I) and Channel 4 (with Mica Levi). </p>

			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="image fit">https://www.youtube.com/watch?v=5fSi3JApyV8</span>
					<h3>Shirley Bassey / Graham Norton Show</h3>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="image fit">https://www.youtube.com/watch?v=5fSi3JApyV8</span>
					<h3>Troy (BBC One)</h3>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="image fit">https://www.bbc.co.uk/programmes/p05y144h/player</span>
					<h3>Tin Star (Sky Atlantic)</h3>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="image fit">https://www.youtube.com/watch?v=j4qHWywM4ps</span>
					<h3>Alfie Boe / Sunday Night at the Palladium</h3>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="image fit">https://www.youtube.com/watch?v=l3BMORpukSU</span>
					<h3>Il Divo / Strictly Come Dancing</h3>
				{% endcapture %}
				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items
				items=content
			%}
		</div>
	</section>

	<section class="wrapper style1 align-center">
		<div class="inner">
			<h2>Festivals</h2>

			<p>Letty has performed at festivals ranging from the Oxford Contemporary Music and Cheltenham Literary Festivals in the UK, to the Sud-Tirol Jazz and Haizetara Festivals in Europe; as well as at high-profile festivals including the Edinburgh Festival and Glastonbury.  </p>

			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="image fit">https://www.suedtiroljazzfestival.com/videos/video-perhaps-contraption-2/</span>
					<h3>Sud-Tirol Jazz Festival 2019</h3>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items
				items=content
			%}
		</div>
	</section>




