---
layout: default
top_row_image: /images/portraits/P1566637.jpg
performance_image: images/portraits/IMG_2515.JPG
theatre_image: images/theatre/IMG_2516.JPG
education_image: /images/education/IMG_2550.JPG
top_row_settings:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right
performance_settings:
  style: 1
  fullscreen: true
  orient: right
  content_align: left
  image-position: right
  onscroll_image: fade-in
theatre_settings:
  style: 1
  orient: left
  content_align: left
  onscroll_image: fade-in
education_settings:
  style: 1
  orient: right
  content_align: left
  onscroll_image: fade-in
---

<!-- One -->
	{% capture content %}
		<div class="editable">
				<p class="major">Letty is one of the UK&rsquo;s most exciting and versatile French horn players, with her career spanning across a variety of genres.</p>
				<p class="major">Whether performing as a soloist, orchestral and chamber musician or as an educator, Letty's energy and enthusiasm have driven her work across a huge range of musical styles, forming dynamic collaborations in the UK and worldwide.</p>
			</div>
		<ul class="actions">
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="#performance">Performance</a></li>
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="#theatre">Theatre</a></li>
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="#education">Education</a></li>
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="/ancient-horns">Ancient Horns</a></li>
		</ul>
	{% endcapture %}
	{% include components/banner.html
		settings=page.top_row_settings
		content=content
		image=page.top_row_image
	%}

<!-- Two -->
	{% capture content %}
	<div class="editable">
				<h2>Performance</h2>
				<p>Letty has worked with many of the UK's leading orchestras and opera companies and&nbsp;<span style="background-color: inherit;">has performed and toured with a huge variety of</span><span style="background-color: inherit;">&nbsp;artists. </span></p>
				<p><span style="background-color: inherit;">She has recorded as a session musician for numerous</span><span style="background-color: inherit;">&nbsp;TV and film scores and has performed globally on a range of diverse projects.&nbsp;</span></p>
			</div>
	<ul class="actions stacked">
		<li><a href="/performance" class="button">Learn More</a></li>
	</ul>
	{% endcapture %}
	{% include components/spotlight.html
		settings=page.performance_settings
		content=content
		image=page.performance_image
		image-position="center"
		id="performance"

	%}

<!-- Three -->
	{% capture content %}
<div class="editable">
				<h2>Theatre</h2>
				<p>Letty has considerable experience working in theatre and performed onstage for the highly acclaimed productions of <em>Amadeus</em>&nbsp;at the National Theatre:</p>
				<p><em>&ldquo;These 21 musicians are the backbone of this production, scattering and re-forming throughout, like some sort of murmuration of musically gifted starlings.&rdquo;</em><br />The Times</p>
			</div>
		<ul class="actions stacked">
			<li><a href="/theatre" class="button">Learn More</a></li>
		</ul>
	{% endcapture %}
	{% include components/spotlight.html
		settings=page.theatre_settings
		content=content
		image=page.theatre_image
		image-position="center"
		id="theatre"
	%}

<!-- Four -->
	{% capture content %}
<div class="editable">
				<h2>Education</h2>
				<p>Letty has always believed that music performance and education go hand in hand and throughout her career, she has aimed to reach as many children and young people as possible.</p>
				<p>She has demonstrated the French horn to quite literally thousands of children and is happiest when sharing her love of music to new audiences.</p>
			</div>
		<ul class="actions stacked">
			<li><a href="/education" class="button">Learn More</a></li>
		</ul>
	{% endcapture %}
	{% include components/spotlight.html
		settings=page.education_settings
		content=content
		image=page.education_image
		image-position="center"
		id="education"
	%}
