---
layout: default

banner:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

spotlight_a:
  style: 1
  fullscreen: true
  orient: right
  content_align: left
  image-position: right
  onscroll_image: fade-in

spotlight_b:
  style: 1
  orient: left
  content_align: left
  onscroll_image: fade-in

spotlight_c:
  style: 1
  orient: right
  content_align: left
  onscroll_image: fade-in

gallery:
  style: 2
  size: medium
  lightbox: true
  button_label: 'Details'
  onscroll: fade-in

gallery_images:
- full: images/gallery/fulls/01.jpg
  thumb: images/gallery/thumbs/01.jpg
  title: Ipsum Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/02.jpg
  thumb: images/gallery/thumbs/02.jpg
  title: Feugiat Lorem
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/03.jpg
  thumb: images/gallery/thumbs/03.jpg
  title: Magna Amet
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/04.jpg
  thumb: images/gallery/thumbs/04.jpg
  title: Sed Tempus
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/05.jpg
  thumb: images/gallery/thumbs/05.jpg
  title: Ultrices Magna
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/06.jpg
  thumb: images/gallery/thumbs/06.jpg
  title: Sed Tempus
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/07.jpg
  thumb: images/gallery/thumbs/07.jpg
  title: Ipsum Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/08.jpg
  thumb: images/gallery/thumbs/08.jpg
  title: Magna Risus
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/09.jpg
  thumb: images/gallery/thumbs/09.jpg
  title: Tempus Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/10.jpg
  thumb: images/gallery/thumbs/10.jpg
  title: Sed Etiam
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/11.jpg
  thumb: images/gallery/thumbs/11.jpg
  title: Magna Lorem
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
- full: images/gallery/fulls/12.jpg
  thumb: images/gallery/thumbs/12.jpg
  title: Ipsum Dolor
  excerpt: Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.

items:
  style: 2
  size: big
  onscroll: fade-in
---

{% comment %}

	Story by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Main page of the site.

{% endcomment %}


<!-- One -->
	{% capture content %}
		<h1>Letty Stott</h1>
		<p class="major">Letty is one of the UK’s most versatile French horn players, with her career spanning classical orchestral performance, contemporary music, theatre and music education. </p>
		<ul class="actions">
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="#performer">Performer</a></li>
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="#theatre">Theatre</a></li>
			<li><a class="button primary smooth-scroll-middle" style="cursor: pointer;" href="#education">Education</a></li>
		</ul>
	{% endcapture %}
	{% include components/banner.html
		settings=page.banner
		content=content
		image="/images/portraits/Letty-3.jpg"
	%}

<!-- Two -->
	{% capture content %}
		<h2>Performer</h2>
		<p>As a multi-genre orchestral and chamber musician, Letty has performed in all of the major UK concert venues. She has worked with orchestras including BBC Concert Orchestra, Britten Sinfonia, National Symphony Orchestra, City of London Sinfonia, Royal Philharmonic Orchestra and English National Ballet, as well with English National Opera and English Touring Opera. Letty’s playing has been broadcast on BBC Radio 3 numerous times, including most recently with the Goldfield Ensemble on Hear and Now as well as In Tune. She has also worked on various projects with Apartment House contemporary music ensemble, performing on Radio France and recording new works, with upcoming performances at the Wigmore Hall in 2021 for a celebration of the work of Morton Feldman. </p>

		<p>Letty works frequently with the Multi-Story Orchestra and has played for various projects with the London Contemporary Orchestra as well as Urban Soul Orchestra.</p>
		<ul class="actions stacked">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	{% endcapture %}
	{% include components/spotlight.html
		settings=page.spotlight_a
		content=content
		image="images/portraits/IMG_2515.JPG"
		image-position="center"
		id="performer"
	%}

<!-- Three -->
	{% capture content %}
		<h2>Theatre</h2>
		<p>Letty has considerable experience working in theatre and performed onstage for the highly acclaimed productions of <em>Amadeus</em> and <em>Macbeth</em> at the National Theatre (both as an original cast member and for the production’s revival, as well as for the NT Live broadcast). </p>

		<p>“These 21 musicians are the backbone of this production, scattering and re-forming throughout, like some sort of murmuration of musically gifted starlings.”<br/>
		The Times</p>

		<ul class="actions stacked">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	{% endcapture %}
	{% include components/spotlight.html
		settings=page.spotlight_b
		content=content
		image="images/theatre/IMG_2516.JPG"
		image-position="center"
		id="theatre"
	%}

<!-- Four -->
	{% capture content %}
		<h2>Education</h2>
		<p>Letty has always believed that music performance and education go hand in hand and throughout her career, she has aimed to reach as many children and young people as possible. Letty has worked as a performer on education projects ranging from SEN workshops in special needs schools, to large-scale nationwide outreach projects with many of the UK’s leading orchestras. </p>

		<p>She has demonstrated the French horn (including of course what makes it the best instrument!) to quite literally thousands of children and is happiest when sharing her love of music to new audiences. </p>

		<ul class="actions stacked">
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	{% endcapture %}
	{% include components/spotlight.html
		settings=page.spotlight_c
		content=content
		image="images/education/IMG_2559.jpg"
		image-position="center"
		id="education"
	%}
