---
layout: default

top_row_image: "/images/band/perhaps-contraption1.jpg"

top_row_settings:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

items-3:
  style: 1
  size: medium
  onscroll: fade-in

items-2:
  style: 1
  size: big
  onscroll: fade-in

items-3:
  style: 1
  size: small
  onscroll: fade-in
---

<!-- One -->
	{% capture content %}
<div class="editable">
				<h1>Performance</h1>
				<p>As a multi-genre orchestral and chamber musician, Letty has worked with orchestras including BBC Concert Orchestra, Britten Sinfonia, City of London Sinfonia, Multi-Story Orchestra, Royal Philharmonic Orchestra and English National Ballet, as well with English National Opera and English Touring Opera.</p>
				<p>Letty&rsquo;s playing has been broadcast on BBC Radio 3 numerous times, including most recently with the Goldfield Ensemble on BBCR3's <em>Hear and Now</em> as well and&nbsp;<em>In Tune&nbsp;</em>programmes.&nbsp;</p>
			</div>
	{% endcapture %}
	{% include components/banner.html
		settings=page.top_row_settings
		content=content
		image=page.top_row_image
		image-position="right"
	%}


	<section class="wrapper style1 align-left">
		<div class="inner">

			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/P9xmHhXtwYI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/UzbG_oY6Hj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	<h2>Commercial</h2>
	<p>Letty has collaborated with commercial artists including Badly Drawn Boy, Charlotte Church, Gary Barlow, Kate Tempest, Laura Mvula, Sam Lee, Squarepusher and Shirley Bassey, and has toured with artists including Tony Hadley/Spandau Ballet, ABC and The Slow Show, as well as several arena tours for projects including The Sessions (UK/Europe), Il Divo (UK) and Ajay Atul (India).</p>
	<p>Letty has performed at music festivals in the UK and abroad, including the Sud-Tirol Jazz and Haizetara Festivals in Europe; as well as the London Jazz Festival, Edinburgh Fringe, Vault Festival and Glastonbury.</p>
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/5fSi3JApyV8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/l3BMORpukSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	<h2>TV</h2>
	<p>Letty has recorded for TV and film with BBC (<em>Strictly Come Dancing, The Graham Norton Show, Troy</em>), ITV (<em>Sunday Night at the Palladium</em>), Sky Atlantic (<em>Tin Star</em>) and Sky1 (<em>The Queen and I</em>) as well as for Channel 4 (with Mica Levi).</p>
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/v_dI36NYpgs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/j4qHWywM4ps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-3
				items=content
			%}
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/62nsgma_ZHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>


	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	<h2>Training</h2>
	<p>Letty studied Music at Oxford University, where she was awarded a music scholarship to Worcester College, studying with Professor Robert Saxton. She then completed an MPhil postgraduate degree at Cambridge University, researching Music Cognition at Sidney Sussex College, with her research area focussing on music and its effect upon short-term working memory. Letty completed her postgraduate studies at the Guildhall School of Music and Drama, where she studied Leadership and Orchestral Performance, after being awarded scholarships from the Guildhall School as well as from the Wates Foundation. She held a two-year Junior Fellowship at the Guildhall, enabling her to further her studies into contemporary music for the French horn, including working with Ensemble Modern in Innsbruck, Austria.&nbsp;</p>
	<p>As a member of Southbank Sinfonia (2013 season), Letty was part of the Southbank Centre&rsquo;s The Rest is Noise festival (2013), with an historic performance of Frank Zappa&rsquo;s colossal 200 Motels. She also performed in the Southbank Centre&rsquo;s Meltdown Festival curated by Yoko Ono, and was delighted to be part of a performance of Sky Piece for Jesus Christ, in which the musicians are wrapped in bandages until they can play no more and the piece comes to its end...</p>
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/FYXSXne1iOA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>
