---
layout: default

top_row_image: "/images/band/perhaps-contraption1.jpg"

videos:
- ID: "62nsgma_ZHk"
- ID: "P9xmHhXtwYI"
- ID: "UzbG_oY6Hj0"

commercial_videos:
- ID: "5fSi3JApyV8"
- ID: "l3BMORpukSU"

tv_videos:
- ID: "v_dI36NYpgs"
- ID: "j4qHWywM4ps"

training_videos:
- ID: "FYXSXne1iOA"


top_row_settings:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

items-3:
  style: 1
  size: medium
  onscroll: fade-in

items-2:
  style: 1
  size: big
  onscroll: fade-in

items-3:
  style: 1
  size: small
  onscroll: fade-in
---

<!-- One -->
	{% capture content %}
<div class="editable">
				<h1>Performance</h1>
				<p class="major">As a multi-genre orchestral and chamber musician, Letty has worked with major orchestras including BBC Concert Orchestra, Britten Sinfonia, City of London Sinfonia, Multi-Story Orchestra, Royal Philharmonic Orchestra and English National Ballet, as well with English National Opera and English Touring Opera.</p>
			</div>
	{% endcapture %}
	{% include components/banner.html
		settings=page.top_row_settings
		content=content
		image=page.top_row_image
		image-position="right"
	%}

	<section class="wrapper style1 align-center">
		<div class="inner">
     <h2>Videos</h2>
     <div class="items style1 big onload-none onscroll-fade-in">

{% for video in page.videos %}
          <section><div class="inner">
              <span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.ID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></span>
          </div></section>
{% endfor %}
		</div>
	</div></section>

	<section class="wrapper style1 align-left">
		<div class="inner">
			<div class="editable">
				<h2>Commercial</h2>
				<p>Letty has collaborated with commercial artists including Badly Drawn Boy, Charlotte Church, Gary Barlow, Kate Tempest, Laura Mvula, Sam Lee, Squarepusher and Shirley Bassey, and has toured with artists including Tony Hadley/Spandau Ballet, ABC and The Slow Show.</p>
				<p>Letty has performed at music festivals including the Sud-Tirol Jazz Festival in Europe; as well as the London Jazz Festival, Edinburgh Fringe and Glastonbury.</p>
			</div>

	   	 	<div class="items style1 big onload-none onscroll-fade-in">
{% for video in page.commercial_videos %}
				<section><div class="inner">
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.ID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></span>
				</div></section>
{% endfor %}
			</div>
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
			<div class="editable">
				<h2>TV and Film</h2>
				<p>Letty has also recorded for broadcasts including BBC (<em>Strictly Come Dancing</em>, <em>The Graham Norton Show</em>, <em>Time</em>, <em>Troy</em>), ITV (<em>Sunday Night at the Palladium</em>, <em>The Long Shadow</em>), Sky Atlantic (<em>Tin Star</em>) and Sky1 (<em>The Queen and I</em>) as well as for Channel 4. </p>
			</div>
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
			<div class="editable">
				<h2>Theatre</h2>
				<p>Letty has considerable experience working in theatre and performed onstage for the highly acclaimed production of <em>Amadeus</em> at the National Theatre (both as an original cast member and for the production&rsquo;s revival, as well as for the NT Live broadcast).</p>
				<p><em>"The National Theatre&rsquo;s Amadeus is note-perfect"</em><br />The Telegraph</p>
				<p>Letty is currently part of a ground-breaking production of <em>Anthony and Cleopatra</em> at Shakespeare’s Globe in London. The production combines Spoken English and British Sign Language for the first time, in a bilingual performance.</p>
				<p>Letty has also been part of the National Theatre’s post-apocalyptic production of <em>Macbeth</em>, starring Rory Kinnear and Anne-Marie Duff (including NT live broadcast to cinemas worldwide).</p>
				<p>Working with composer Orlando Gough, musical director Marc Tritschler and instrument-maker Simon Allen, the production involved an incredible R&D opportunity to make new instruments that would feature in the play’s post-apocalyptic setting. As one of only two musicians in the production, Letty was involved with the creation of these new instruments as well as being part of the composition process.
				</p>
				<p>Letty has worked with the Royal Shakespeare Company, performing in Julius Caesar as part of the RSC’s Rome Season. Letty has performed for theatre productions including <em>Little Miss Sunshine</em>, <em>Bedknobs and Broomsticks</em> and Disney's <em>The Lion King</em>.</p>			
			</div>
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
			<div class="editable">
				<h2>Training</h2>
				<p>Letty studied Music for her undergraduate degree at Oxford University, where she was a Music Scholar at Worcester College. She then completed an MPhil degree at Cambridge University, studying at Sidney Sussex College. Letty also holds Masters degrees from Guildhall School of Music and Drama, where she went on to receive a Junior Fellowship. Letty is currently undertaking research towards her PhD in Music Archaeology at the University of Manchester and National Museums Scotland.</p>
				<p>As a member of Southbank Sinfonia (2013 season), Letty was part of the Southbank Centre’s Meltdown Festival curated by Yoko Ono, and was delighted to be part of a performance of Sky Piece for Jesus Christ, in which the musicians are wrapped in bandages until they can play no more...</p>
			</div>
	    	<div class="items style1 big onload-none onscroll-fade-in">
{% for video in page.training_videos %}
				<section><div class="inner">
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.ID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></span>
				</div></section>
{% endfor %}
			</div>
		</div>
	</section>
