---
layout: default

top_row_image: "/images/theatre/IMG_2516.JPG"

banner_settings:
  style: 1
  fullscreen: true
  orient: left
  content_align: left
  onload_image: fade-in
  onload_content: fade-right

items-3:
  style: 1
  size: medium
  onscroll: fade-in

items-2:
  style: 1
  size: big
  onscroll: fade-in

items-3:
  style: 1
  size: small
  onscroll: fade-in
---

{% comment %}

	Story by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Main page of the site.

{% endcomment %}


<!-- One -->
	{% capture content %}
<div class="editable">
				<h1>Theatre</h1>
				<p>Letty has considerable experience working in theatre and performed onstage for the highly acclaimed production of<em> Amadeus</em> at the National Theatre (both as an original cast member and for the production&rsquo;s revival, as well as for the NT Live broadcast).</p>
				<p><em>"Stunning production pits Salieri against God, Mozart and his own orchestra</em>"&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The Guardian</p>
				<p><em>&ldquo;The National Theatre&rsquo;s Amadeus is note-perfect&rdquo;</em>, The Telegraph</p>
			</div>

	{% endcapture %}
	{% include components/banner.html
		settings=page.banner_settings
		content=content
		image=page.top_row_image
		image-position="right"
	%}


	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/cEuJ56sHwgA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>




	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	<p>Letty then went on to perform in the National Theatre&rsquo;s production of <em>Macbeth</em>, starring Rory Kinnear and Anne-Marie Duff (including NT live broadcast to cinemas worldwide).</p>
	<p>Working with composer Orlando Gough, musical director Marc Tritschler and instrument-maker Simon Allen, the production involved an incredible R&amp;D opportunity to make new instruments that would feature in the play&rsquo;s post-apocalyptic setting. As one of only two musicians in the production, Letty was involved with the creation of these new instruments as well as being part of the composition process.</p>
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/HmaoYjRA0nw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/W7K4yGYKuxI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>

	<section class="wrapper style1 align-left">
		<div class="inner">
<div class="editable">
	<p>Letty has worked with the Royal Shakespeare Company, performing in <em>Julius Caesar</em> as part of the RSC&rsquo;s Rome Season. The score was composed by Mira Calix for live brass instruments with electronics.</p>
	<p>Finally, Letty has performed for theatre productions including <em>Little Miss Sunshine</em> (Arcola Theatre, London), and Disney's&nbsp;<em>The Lion King.</em></p>
</div>
			{% assign content = "" | split: "" %}

				{% capture x %}
					<span class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/S_TUcUrAtEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
				{% endcapture %}

				{% assign content = content | push: x %}

			{% include components/items.html
				settings=page.items-2
				items=content
			%}
		</div>
	</section>

